/* Google Fonts
_____________________________*/
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

/* Reset
_____________________________*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

/* Main
_____________________________*/
body {
  background-color: #333;
}

/* Container 
_____________________________*/
.sketch-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

/* Settings 
_____________________________*/
.settings {
  width: 500px;
  background-color: var(--sketch-red);
  padding: 2rem;
  border-radius: 5px;
}

.settings_form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Cabin Sketch', cursive;
}

.settings_form-group {
  display: flex;
  align-items: center;
}

.settings_size {
  line-height: 3rem;
  outline: none;
  padding: 0 .5rem;
}

.settings_button {
  background-color: var(--sketch-white);
  padding: 1rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  border: 2px solid #eee;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 40%);
  font-family: inherit;
}

.settings_button:hover {
  cursor: pointer;
}

.settings_form label {
  font-size: 3rem;
  color: var(--sketch-gold);
  padding-right: 1rem;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 60%)
}

/* Utility 
_____________________________*/
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

.sketch-bg {
  background-color: var(--sketch-gray);
  border: 2rem solid var(--sketch-red);
  border-radius: 10px;
}

/* Pixels
_____________________________*/
.pixel {
  background-color: transparent;
}

.pixel--filled {
  background-color: black;
}

/* Colors 
_____________________________*/
:root {
  --sketch-red: #E30415;
  --sketch-gray: #BCB7B9 ;
  --sketch-white: #ffffff;
  --sketch-gold: #BE9249;
} 